<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-1 my-md-0 mr-md-1">
    <a class="p-2 text-dark" routerLinkActive="active-link" [routerLink]="['/materials']">All Materials</a> 
    <a class="p-2 text-dark" [routerLink]="['/materials']">Scaffolding wood</a> 
    <a class="p-2 text-dark" [routerLink]="['/materials']">Bricks</a> 
    <a class="p-2 text-dark" [routerLink]="['/materials']">Doors</a> 
    <a class="p-2 text-dark" [routerLink]="['/materials']">Windows</a> 
    <a class="p-2 text-dark" [routerLink]="['/materials']">Floor tiles</a>    
    
     |     
    <a class="p-2 text-dark" href="#">Support</a>

    |
  </nav>
  <a class="p-2 text-dark" [routerLink]="['/register']">Smart Contract</a>
  <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
</div>
